// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #f5a25d;
$green: #215230;
$gray: #0E0000;
$light-gray: #F4F4F4;
$coral: #FA776D;
$teal: #539A9E;
$turq: #1D404D;