.outer-about-page {
  margin-left: 6%;
  margin-right: 6%;
  margin: 0 auto;
  margin-top: 56px;
  min-height: 84vh;
  background-color: black;
  padding-left: 50px;
  padding-right: 50px;
}

.about-page {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1565733293285-77aa342b22dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80);
  padding: 5px;
    h2 {
      color: white;
      font-size: 40px;
      padding-bottom: 5px;
    }
}

.inner-about-page {
  margin: 10px;
  background-color: black;
}

.about-body {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
    p {
      color: white;
      font-size: 16px;
      letter-spacing: 0.1em;
      font-weight: 200;
      text-align: left;
    }
    img {
      max-height: 60vh;
      border: $teal 3px solid;
      justify-self: end;
      margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
  .outer-about-page {
    padding: 0 20px;
  }
  .about-page h2 {
    font-size: 30px;
  }
  .about-body {
    grid-template-columns: 1fr;
    img {
      height: 27vh;
      margin: 0 auto;
    }
  }
  #pages-menu-icon {
    left: 6%;
    top: 2%;
  }
}