.outer-projects-page {
  margin-left: 6%;
  margin-right: 6%;
  margin: 0 auto;
  margin-top: 56px;
  min-height: 84vh;
  background-color: black;
  padding: 0 50px;
}

.projects-page {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1515404929826-76fff9fef6fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
  padding: 1px;
      h2 {
        color: white;
        font-size: 40px;
        padding-bottom: 1px;
      }
}
.inner-projects-page {
  margin: 10px;
  background-color: black;
}

.projects-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  margin-top: 20px;
  padding: 0 14px;
  text-align: center;
  p {
    color: white;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 200;
    margin-top: 15px;
    
  }
  h3 {
    color: white;
    text-align: center;
      padding-top: 15px;
      text-transform: uppercase;
      border-top: 1px $orange solid;
    }
  a {
    padding: 20px;
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
  i {
    padding-right: 10px;
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}

.landscape-carousel-item {
  height: 300px;
  width: 533px;
}

.portrait-carousel-item {
  height: 400px;
  width: 225px;
}

#projects-menu {
  top: 0.5%;
  left: 6%;
}

@media (max-width: 576px) {
  .outer-projects-page {
    padding: 0 20px;
  }
  .projects-page {
    h2 {
    font-size: 30px;
    }
    p {
      font-size: 10px;
    }
    a {
      padding: 5px;
      font-size: 14px;
    }
    i {
      font-size: 14px;
      padding-right: 5px;
    }
  }
  .landscape-carousel-item {
    height: 150px;
    width: 266px;
  }
  .portrait-carousel-item {
    height: 200px;
    width: 112px;
  }
  #projects-menu-icon {
    left: 6%;
    top: 1%;
  }
}