<div class="sidenav">
    <%= link_to 'Home', root_path %>
    <%= link_to 'About', about_path %>
    <%= link_to 'Projects', projects_path %>
    <%= link_to 'Contact', contact_path %>
</div>

<div class="home">
  <a class="toggle-nav">
    <i class="fas fa-bars"></i>
      Menu
  </a>
  <div class="about-page">
      <h2>ABOUT</h2>
      <hr>
      <p>Full-Stack Web Developer with experience building websites and web applications. I specialise in Ruby on Rails but also
          proficient in front-end programming languages: JavaScript, HTML, CSS and incorporating data from back-end databases and
          services.
      </p>
  </div>
</div>
