<div class="sidenav">
    <%= link_to 'Home', root_path %>
    <%= link_to 'About', about_path %>
    <%= link_to 'Projects', projects_path %>
    <%= link_to 'Contact', contact_path %>
</div>

<div class="home">
  <a class="toggle-nav">
      <i class="fas fa-bars"></i>
          Menu
  </a>
  <h2>CONTACT</h2>
  <hr>
  <span class="socials">
    <ul class="list-group list-group-horizontal-lg">
      <li class="list-group-item">
        <a href="#">
          <i class="fab fa-linkedin"></i>Linkedin
        </a>
      </li>
      <li class="list-group-item">
        <a href="#">
          <i class="fab fa-github-square"></i>Github
        </a>
      </li>
    </ul>
  </span>
</div>