<div class="sidenav">
    <%= link_to 'Home', root_path %>
    <%= link_to 'About', about_path %>
    <%= link_to 'Projects', projects_path %>
    <%= link_to 'Contact', contact_path %>
</div>

<div class="home">

  <div class="toggle-div">
    <a class="toggle-nav">
      <i class="fas fa-bars"></i>
        Menu
    </a>
  </div>

  <div class="outer-contact-page">
    <div class="contact-page fade-in1">
      <div class="inner-contact-page">
        <div class="fade-in2">
          <hr class="five">
          <h2>GET IN TOUCH</h2>
        </div>
        <div class="contact-body fade-in3">
          <span class="socials">
                <a href="https://www.linkedin.com/in/daniela-sinclair/">
                  <i class="fab fa-linkedin"></i>Linkedin
                </a>

                <a href="https://github.com/DaniSinc">
                  <i class="fab fa-github-square"></i>Github
                </a>

                <a href="mailto:dasfluid@gmail.com">
                  <i class="fas fa-envelope-open"></i>Email
                </a>

          </span>
        </div>
        <hr class="six">
      </div>
    </div>
  </div>
</div>

<%# <div class="home">
  <a class="toggle-nav">
      <i class="fas fa-bars"></i>
          Menu
  </a>
  <h2>CONTACT</h2>
  <hr>
</div> %>