<div class="sidenav">
    <%= link_to 'ABOUT', about_path %>
    <%= link_to 'PROJECTS', projects_path %>
    <%= link_to 'CONTACT', contact_path %>
</div>

<div class="home tog">
    <div class= "banner-container">
      <a class="toggle-nav" id="home-menu-icon">
        <i class="fas fa-bars"></i>
          Menu
      </a>
      <div class="header-text">
        <h1 id="name"><strong>DANIELA SINCLAIR</strong></h1>
        <p class="typewriter" data-text="Full-Stack Web Developer">Full-Stack Web Developer</p>
      </div> 
    </div>
</div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../js/main.js"></script>
  
  