/* projects styling  */

.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
}

.project {
  border-radius: 1px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
  height: 298px;
  width: 546px;
}


.portrait img {
  height: 330px;
  width: 200px;
  left: 0;
}