.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a{
        font-size: 24px;
        color: white;
        margin-left: 5px;
        margin-bottom: 20px;
        margin-top: 24px;
        &:hover {
            color: white;
        }
    }
}

.toggle-nav {
    position: absolute;
    top: 3%;
    left: 50px;
    text-decoration: none;
    i {
        padding-right: 10px;
    }
}

a.toggle-nav {
    text-decoration: none;
    color: white;
}

.toggle-div {
    display: flex;
    justify-self: start;
    align-items: flex-start;
}

@media (max-width: 576px) {
    .sidenav {
        width: 150px;
        a {
            font-size: 20px;
            margin-left: 5px;
        }
    }
}

@media (max-width: 320px) {
  .sidenav {
      width: 128px;
          a{
            font-size: 18px;
            margin-left: -3px;
          }
  }
}